/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f8f9fa;
  }
  
  .forgot-password-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .forgot-password-form {
    width: 100%;
  }
  
  .phone-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phone-input h4 {
    margin-right: 10px;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn {
    margin-top: 10px;
  }
  