/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.register-form-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.register-form {
    width: 100%;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.text-danger {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Buttons */
.btn.black-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.btn.black-btn:hover {
    background-color: #333;
}

/* Login Link */
.login-link {
    margin-top: 20px;
    font-size: 0.9rem;
}

.login-link a {
    color: #29E33C;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
